<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}/data.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}/slimbox2.js"></script>
    <link rel="stylesheet" href="{$Think.const.CSS_URL}/slimbox2.css" type="text/css" media="screen" />
    <script type = "text/javascript" src = "http://echarts.baidu.com/build/dist/echarts.js"></script>
</head>
<body>
    <include file="Public:header" />
    <div class="timer">
        <img src="{$Think.const.IMG_URL}/maptimerbg.png">
        <div class="timer_container">
            <img id="cloud01" class="cloud01" src="{$Think.const.IMG_URL}/cloud01.png">
            <img id="cloud02" class="cloud02" src="{$Think.const.IMG_URL}/cloud03.png">
            <img id="cloud03" class="cloud03" src="{$Think.const.IMG_URL}/cloud04.png">
            <img id="cloud04" class="cloud04" src="{$Think.const.IMG_URL}/cloud05.png">
            <div class="logo"></div>
            <img class="car" src="{$Think.const.IMG_URL}/car.png">
            <img src="{$Think.const.IMG_URL}/hotball.png"class="hotball">
            <img class="line"src="{$Think.const.IMG_URL}/map_line.png">
        </div>
    </div>
    <div class="container">
        <img src="{$Think.const.IMG_URL}/mapground.png">
        <div class="container_content">
            <img class="line_right01" src="{$Think.const.IMG_URL}/line_right01.png">
            <div class="mapwrapper">
                <a id = "btu_2D">查询信息</a>
                <a class="active" id = "btu_3D">数据展示</a>
                <img src="{$Think.const.IMG_URL}/datatitle.png" alt="" class="maptitle">
                <img src="{$Think.const.IMG_URL}/mapbg.png" class= "mapbg">
                <div class = "mapstatic">
                    <div id="D2map">
                        <div class="page_top">
                            <ul class="page_ul" id="an_page_ul">
                                <li class="stu_li"><a id = "find_btu1">找室友</a></li>
                                <li class="stu_li"><a id = "find_btu2">找同学</a></li>
                                <li class="stu_li"><a id = "find_btu3">找辅导员</a></li>
                                <li class="stu_li"><a id = "find_btu4">找志同道合</a></li>
                            </ul>
                        </div>
                        <div class="page_mid_big">
                               <div id="friend">
                                   <ul class="page_mid_mid_ul">
                                        <volist name="roomie" id="room">
                                            <li >
                                                <p>{$room.stu_sch}&nbsp;&nbsp;{$room.stu_major}&nbsp;&nbsp;{$room.stu_name}&nbsp;&nbsp;{$room.stu_gender}&nbsp;&nbsp;{$room.stu_address}&nbsp;&nbsp;{$room.stu_phone}&nbsp;&nbsp;{$room.stu_qq}<br/>
                                                </p>
                                            </li>
                                        </volist>
                                    </ul>
                               </div>
                               <div id="room">
                                   <ul class="page_mid_mid_ul">
                                        <volist name="classmate" id="class">
                                            <li >
                                                <p>{$class.stu_sch}&nbsp;&nbsp;{$class.stu_major}&nbsp;&nbsp;{$class.stu_name}&nbsp;&nbsp;{$class.stu_gender}&nbsp;&nbsp;{$class.stu_address}&nbsp;&nbsp;{$class.stu_phone}&nbsp;&nbsp;{$class.stu_qq}<br/>
                                                </p>
                                            </li>
                                        </volist>
                                    </ul>
                               </div>
                               <div id="teacher">
                                <ul class="page_img_ul" >
                                    <volist name="teacher" id="tch">
                                        <li class="page_img" style="margin-top:67px;">
                                            <a id="person1" href="{$Think.const.IMG_URL}/teacher/{$tch.tch_sch}（{$tch.tch_name}）.jpg" rel="lightbox" title="{$tch.tch_sch}-{$tch.tch_name}"></a>
                                            <p>{$tch.tch_sch}-{$tch.tch_name}</p>
                                        </li>
                                    </volist>
                                </ul>
                               </div>
                               <div id="interest">
                                   <ul class="page_mid_mid_ul">
                                        <li>    
                                            <p>你的爱好为:
                                                    {$hobby['hobby_one']}&nbsp;&nbsp;
                                                    {$hobby['hobby_two']}&nbsp;&nbsp;
                                                    {$hobby['hobby_three']}&nbsp;&nbsp;
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                这些人与你有相同爱好:
                                            </p>
                                        </li>
                                        <empty name="friend_info">
                                            <li>
                                                <p>
                                                    {$empty}
                                                </p>
                                            </li>
                                        <else /> 
                                             <li >
                                                <p>学院&nbsp;&nbsp;专业&nbsp;&nbsp;名字&nbsp;&nbsp;性别&nbsp;&nbsp;籍贯&nbsp;&nbsp;电话&nbsp;&nbsp;QQ<br/>
                                                </p>
                                            </li>
                                            <volist name="friend_info" id="friend">
                                                <li >
                                                    <p>{$friend.stu_sch}&nbsp;&nbsp;{$friend.stu_major}&nbsp;&nbsp;{$friend.stu_name}&nbsp;&nbsp;{$friend.stu_gender}&nbsp;&nbsp;{$friend.stu_address}&nbsp;&nbsp;{$friend.stu_phone}&nbsp;&nbsp;{$friend.stu_qq}<br/>
                                                    </p>
                                                </li>
                                            </volist>
                                        </empty> 
                                    </ul>
                               </div>  
                       </div>
                       <div class="page_bottom">
                        <!-- 分页的地方 -->
                       </div>
                   </div>
                   <div id="D3map" >
                    <div class="page_top" class="page">
                        <ul class="page_ul" id="an_page_ul">
                            <li class="stu_li"><a id = "data_btu1">同乡比例</a></li>
                            <li class="stu_li"><a id = "data_btu2">男女比例</a></li>
                            <li class="stu_li"><a id = "data_btu3">同年同月</a></li>
                            <li class="stu_li"><a id = "data_btu4">最难科目</a></li>
                            <li class="stu_li"><a id = "data_btu5">毕业去向数据</a></li>
                        </ul>
                    </div>
                    <div class="page_mid_big">
                       <div id="page_mid_next"></div>
                       <div class="page_mid_next" id = "row">
                        <h1 id = "WH1">你所在学院及学校的男女比</h1>
                        <h1 id = "WH2">学校里与你同年同月及同星座的比例为</h1>
                        <div id="row1"></div>
                        <div id="row2"></div>
                    </div>
                    <div class="page_mid_next" id = "clomu">
                        <div id="clomu1"></div>
                        <div id="clomu2"></div>
                    </div>
                    <div class="share">
                        <div class="jiathis_style_32x32">
                            <a class="jiathis_button_tsina share1"></a>
                            <a class="jiathis_button_weixin share2" ></a>
                            <a class="jiathis_button_qzone share3"></a>
                        </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    </div>
                </div>
                <div class="page_bottom">
                </div>
            </div>
        </div> 
        <img src="{$Think.const.IMG_URL}/grass.png" class = "grass">
    </div>
</div>
<a id="go_top" href="#"></a>
</div>
    <include file="Public:header" />
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>

    <script src="{$Think.const.JS_URL}/data.js"></script>

    <script>
    window.onload = function(){
        var NAME = ["{$address}","其余人数","脱单男","脱单女"];
        var VALUE = [{"name":"<?php echo ($address); ?>","value":"<?php echo ($townee_info['townee']); ?>"},
        {"name":"其余人数","value":"<?php echo ($townee_info['other']); ?>"},
        ];
        var TITLE = "在重邮，你的老乡人数占全校人数的比例为";
        var BILI = "<?php echo ($townee_info['scale']); ?>%";        
        charst(NAME,VALUE,TITLE,BILI);
    }
    data_btu1.onclick = function(){
        var NAME = ["{$address}","其余人数","脱单男","脱单女"];
        var VALUE = [{"name":"<?php echo ($address); ?>","value":"<?php echo ($townee_info['townee']); ?>"},
        {"name":"其余人数","value":"<?php echo ($townee_info['other']); ?>"},
        ];
        var TITLE = "在重邮，你的老乡人数占全校人数的比例为";
        var BILI = "<?php echo ($townee_info['scale']); ?>%";        
        charst(NAME,VALUE,TITLE,BILI);
    }
    data_btu2.onclick = function(){
        var singleDog = [
        {"name":"男","value":"<?php echo ($scale_major['boy_num']); ?>"},
        {"name":"女","value":"<?php echo ($scale_major['lady_num']); ?>"},
        ]
        var notalone =[
        {"name":"脱单男","value":"30"},
        {"name":"脱单女","value":"70"},
        ]
        charst_sex(singleDog,notalone);
    }
    data_btu3.onclick = function(){
        var age = ["<?php echo ($birthday['year']); ?>年<?php echo ($birthday['month']); ?>月","其他"];
        var agevalue = [
        {"name":"<?php echo ($birthday['year']); ?>年<?php echo ($birthday['month']); ?>月","value":"<?php echo ($birthday['birth_num']); ?>"},
        {"name":"其他","value":"<?php echo ($birthday['other_num']); ?>"},
        ]
        var star = ["<?php echo ($cons_num['cons_name']); ?>","其他"];
        var starvalue = [
        {"name":"<?php echo ($cons_num['cons_name']); ?>","value":"<?php echo ($cons_num['same_num']); ?>"},
        {"name":"其他","value":"<?php echo ($cons_num['other_num']); ?>"},
        ] 
        chart_age(age,agevalue,star,starvalue);
    }
    data_btu4.onclick = function(){
        charst_subject();
    }
    data_btu5.onclick = function(){
            var content = "通信学院的出国升学率为22.3%，灵活就业率为0.48%，待就业率为2.08%，就业率为97.92%";//学院的文字数据介绍
            charst_end(content);
        }
        
        </script>
    </body>
    </html>